.container {
  width: 100%;
  min-width: 800px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.preview {
  width: 100%;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  padding: 24px 0 0 0;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: var(--bg_primary);
}

@media (max-width: 900px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  /*
  .preview {
    height: 100%;
  }
  */
  .menu {
    height: 50%;
    overflow: scroll;
  }
}
